html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.select2-container--bootstrap4 .select2-selection {
  cursor: pointer;
}

/* .select2-container--bootstrap4 .select2-selection--single {
 
  border: 1px solid #ced4da;
  height: calc(8.25rem + 8px);
  padding: 1.375rem -0.55rem ;
  text-align: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg viewBox='0 0 4 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2h4L2 0z' fill='%23333'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 15px 10px;
  width:100%;


} */

.nav-link.active {
	background-color: #303235;
	color: white !important;
	border-radius: 0.25rem;
}

.navbar {
	color: rgb(40, 38, 38); /* o el color que quieras */
}