@using inmobiliaria.Models
@model inmobiliaria.Models.Contrato

@{
	ViewData["Title"] = "Edit";
	ViewBag.Title = "Edit";
	var ltaInquilinos = ViewBag.Inquilino;
	var ltaInmuebles = ViewBag.Inmuebles;
	var inmuebleId = ViewBag.Inmueble;
	//var Id = Model?.Id ?? 0;
}


<h1>Editar</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">


			<div>
				<select class="Inquilino" id="Inquilino" name="InquilinoId">

				</select>
			</div>

   
			<div class="form-group">
				<label asp-for="Inqui.Nombre" class="control-label">Inquilino Actual</label>
				<input asp-for="Inqui.Apellido"  class="form-control" />
				
			</div>


		
				<div class="form-group">
					<label class="control-label">Inmueble</label>
					<select class="form-control" name="InmuebleId">
						@foreach (var item in ltaInmuebles)
						{
							<option value="@item.Id">@(item.ToString())</option>

						}
					</select>
					<span asp-validation-for="InmuebleId" class="text-danger"></span>
				</div>
				
	        
			<div class="form-group">
				<label asp-for="Inmue.Direccion" class="control-label">Direccion Actual</label>
				<input asp-for="Inmue.Direccion"  class="form-control" />
				
			</div>

			<div class="form-group">
				<label asp-for="FechaInicio" class="control-label"></label>
				<input asp-for="FechaInicio" type="date" class="form-control" />
				<span asp-validation-for="FechaInicio" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="FechaFin" class="control-label"></label>
				<input asp-for="FechaFin" type="date" class="form-control" />
				<span asp-validation-for="FechaFin" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a class="btn btn-secondary" asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>


@section Scripts {

	<script type="text/javascript">
		$(document).ready(function () {

			$('#Inquilino').select2({
				language: "es",
				theme: 'bootstrap4',  // Aplica el tema de Bootstrap
				placeholder: "Buscar Inquilino...",
				minimumInputLength: 3,// Realiza la búsqueda después de 3 caracteres
				maximumInputLength: 10,// Limita la entrada a 10 caracteres
				ajax: {
					delay: 250,
					dataType: "json",
					cache: true,// Habilita el cache para evitar peticiones repetidas
					//url: '/Propietarios/Buscar',
					url: function (params) {
						let q = params.term ? encodeURIComponent(params.term) : "";
						return `/Inquilino/Buscar/${q}`;
					},/*
										data: function (params) {
											var query = {
												q: params.term,
											}
											return query;
										},*/
					processResults: function (res) {
						return {
							results: res.datos.map(i => ({ id: i.id, text: `${i.nombre} ${i.apellido}` }))
						};
					}
				}
			});
			@* var idOriginal = +"@Model?.InquilinoId";

			var textoOriginal = "@Model?.Inqui?.Nombre" + ' ' + "@Model?.Inqui?.Apellido";
			if (idOriginal && textoOriginal) {
				var option = new Option(textoOriginal, idOriginal, true, true);
				$(".Inquilino").append(option).trigger('change');
			} *@
						});
	</script>

	<style>
		.select2-search__field {
			width: 100% !important;
			visibility: visible;
			display: block;

		}
	</style>
}
